$greenMilky: rgb(49, 210, 154);
$darkBackground: rgb(14, 3, 24);

.Home {
  transition: background 0.4s ease-in-out;
  &.dark {
    background: $darkBackground;
  }

  &__container {
    height: calc(100vh - 60px);
    display: flex;
    padding: 20px 10vw;

    @media screen and (max-width:1600px){
      padding: 20px 5vw;
    }

    @media screen and (max-width:1200px){
      padding: 20px 50px;
    }

    @media screen and (max-width:1040px){
      padding: 20px 20px;
    }

    @media screen and (max-width:900px){
      flex-direction: column;
      padding: 20px 50px;
    }

    @media screen and (max-width:600px){
      flex-direction: column;
      padding: 15px 20px;
    }
  }

  &__main {
    width: 70%;
    // background: red;
    @media screen and (max-width:900px){
      width:100%;
      height:50vh;
    }

  }
  
  &__sideBar {
    width:30%;
    padding-top: 30px;

    @media screen and (max-width:900px){
      padding-top: 10px;
      width:100%;
      height:40vh;
    }
  }
}
