// local variables
$lineHeight: 60px;
$greenMilky: rgb(49, 210, 154);

.navBar {
  background: rgb(229, 250, 229);
  padding: 0 15vw;

  @media screen and (max-width: 1040px){
    padding: 0 8vw;
  }

  @media screen and (max-width: 600px){
    padding: 0 20px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__ul {
    display: flex;
    gap: 20px;
    list-style: none;

    @media screen and (max-width:600px){
      gap: 5px;
    }
  }

  &__logo {
    color: rgb(55, 55, 55);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: $lineHeight;

    @media screen and (max-width:1040px){
      font-size: 20px;
    }

    @media screen and (max-width:600px){
      font-size: 18px;
    }

    &-position {
      margin-right: auto;
    }
  }

  &__link {
    text-decoration: none;
    padding:0 10px;
    display: flex;
  }

  &__header {
    color: rgb(82, 82, 82);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: $lineHeight;

    @media screen and (max-width:1040px){
      font-size: 20px;
    }

    @media screen and (max-width:600px){
      font-size: 18px;
    }
  }

  &__btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid $greenMilky;
    border-radius: 7px;
    background: none;
    color: $greenMilky;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      cursor: pointer;
      color: white;
      background: $greenMilky;
    }
  }
}

